@use "../cimtops-mixins";

.cim-account-details {
	display: flex;
	padding: 8px 0 8px 8px;
}

.cim-account-details--avatar {
	width: 48px;
	height: 48px;
	position: relative;
	flex: 0 0 48px;

	img {
		width: 48px;
		height: 48px;
		object-fit: cover;
		border-radius: 50%;
	}

	.material-icons {
		font-size: 48px;
		opacity: 0.2;

		/* hides icon behind <img> */
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

.cim-account-details--info {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-width: 0;
}

.cim-account-details--info-name,
.cim-account-details--info-email {
	margin-left: 16px;
	padding-right: 16px;
	color: var(--mdc-theme-text-secondary-on-light);
}

.cim-account-details--info-name {
	font-weight: 500;
	letter-spacing: 0;
}

.cim-account-details--info-email {
	padding-bottom: 16px;
	border-bottom: 1px solid var(--divider-color);
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cim-account-details--info-action {
	padding-left: 8px;
}
