.mdc-drawer-app-content {
	flex: auto;
	overflow: auto;
	position: relative;
}
.main-content {
	overflow: auto;
	height: 100%;
}


.cim-content-area {
	height: calc(100vh - 64px);
	width: calc(100% - 380px);
	overflow-y: scroll;
}