.cim-info-sheet {
  height: calc(100vh - 64px);
  width: 380px;
  display: block;
  // background-color: red;
  background-image: url("../img/Resting.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  right: 0px;
}