/**
 * @section Breakpoints
 * These values will not show up in content, but can be queried by JavaScript to know which breakpoint is active. Add or remove as many breakpoints as you like.
 */

body:before {
	content: "xsmall";
	display: none;
	visibility: hidden;
}

@media (min-width: 320px) {
	body:before {
		content: "small";
	}
}

@media (min-width: 640px) {
	body:before {
		content: "medium";
	}
}

@media (min-width: 960px) {
	body:before {
		content: "large";
	}
}

@media (min-width: 80em) {
	body:before {
		content: "xlarge";
	}
}

$mdc-typography-styles-headline1: (
	font-family: unquote("Roboto"),
	font-size: 96,
);
$mdc-typography-styles-headline2: (
	font-family: unquote("Roboto"),
	font-size: 60,
);
$mdc-typography-styles-headline3: (
	font-family: unquote("Roboto"),
	font-size: 48,
);
$mdc-typography-styles-headline4: (
	font-family: unquote("Roboto"),
	font-size: 34,
);
$mdc-typography-styles-headline5: (
	font-family: unquote("Roboto"),
	font-size: 24,
);
$mdc-typography-styles-headline6: (
	font-family: unquote("Roboto"),
	font-size: 20,
);
$mdc-typography-styles-body1: (
	font-family: unquote("Roboto"),
	font-size: 16,
);
$mdc-typography-styles-body2: (
	font-family: unquote("Roboto"),
	font-size: 14,
);
$mdc-typography-styles-subtitle1: (
	font-family: unquote("Roboto"),
	font-size: 16,
);
$mdc-typography-styles-subtitle2: (
	font-family: unquote("Roboto"),
	font-size: 14,
);
$mdc-typography-styles-button: (
	font-family: unquote("Roboto"),
	font-size: 14,
);
$mdc-typography-styles-overline: (
	font-family: unquote("Roboto"),
	font-size: 10,
);
$mdc-typography-styles-caption: (
	font-family: unquote("Roboto"),
	font-size: 12,
);
