/**
 * @section Breakpoints
 * These values will not show up in content, but can be queried by JavaScript to know which breakpoint is active. Add or remove as many breakpoints as you like.
 */

body:before {
	content: "xsmall";
	display: none;
	visibility: hidden;
}

@media (min-width: 320px) {
	body:before {
		content: "small";
	}
}

@media (min-width: 640px) {
	body:before {
		content: "medium";
	}
}

@media (min-width: 960px) {
	body:before {
		content: "large";
	}
}

@media (min-width: 80em) {
	body:before {
		content: "xlarge";
	}
}
